* {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:none;
    text-decoration:none;
    outline:none;
    font-family:inherit;
    box-sizing:border-box;
}
ol, ul, li {
	display:block;

	list-style:none;
}

table {
	border-spacing:0;
	border-collapse: collapse;
}

a img {
	border: none;
}

button, a {
	cursor: pointer;

	color: inherit;
}

textarea {
	resize: none;
}

button, input, textarea, select {
	appearance: none !important;
	-webkit-appearance: none !important;
	
	border-radius: 0;
}
/*
#root {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/

#root {
    display: grid;

    height: 100vh;

    @media screen and (max-width: 300px) {
        grid-template-columns: auto;
    }
    
    @media screen and (min-width: 301px) and (max-width: 600px) {
        grid-template-columns: auto auto;
    }

    @media screen and (min-width: 601px) and (max-width: 900px) {
        grid-template-columns: repeat(3, auto);
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
        grid-template-columns: repeat(4, auto);
    }

    @media screen and (min-width: 1201px) {
        grid-template-columns: repeat(5, auto);
    }


}

div {
    padding: 10px;
    border: 2px solid yellow;

    font-size: 20px;
    color:yellow;
    background-color: #17141d;
}
